<%= form_for([@list,@element], remote: true, html: { id: "elements-form", :"data-type" => "json" }) do |f| %>
  <% if @element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h2>

      <ul>
      <% @element.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-field">
    <label>Nueva Tarea</label>
    <%= f.text_field :text, class:"validate" %>
  </div>
  <%= f.submit 'Crear', class:"btn secondary-content"  %>
<% end %>
