<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @element.text %>
</p>

<p>
  <strong>List:</strong>
  <%= @element.list.title %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>