<!DOCTYPE html>
<html>
<head>
	<title>Todo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<%= render "partials/header"%>
	<p class="notice center-align"><%= notice %></p>
	<p class="alert center-align"><%= alert %></p>
<%= yield %>

</body>
</html>
