<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h3>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12 l5 offset-l4">
    <%= f.text_field :title%>  
    <label class="active">Titulo</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 l5 offset-l4">
    <%= f.submit "Crear", class:"btn" %>
    </div>
  </div>
<% end %>
