<p id="notice"><%= notice %></p>

<div class="row">
  <ul class="collection with-header col s2">
        <li class="collection-header"><h4><%= @list.title %></h4></li>
        <% @elements.each do |element| %>
        <li class="collection-item"><%= element.text %></li>
        <% end %>
  </ul>
</div>



<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
