<header>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/welcome/index" class="brand-logo">To-Do Loco</a>
      <ul class="right hide-on-med-and-down">
        <%if user_signed_in? %>
        <li>
          <a href="/lists/">Listas</a>
        </li>
        <li>
          <%= link_to "Cerrar sesi贸n", destroy_user_session_path, method: :delete %>
        </li>
        <%else%>
        <li>
          <%= link_to "Iniciar sesi贸n", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Crear cuenta", new_user_registration_path %>
        </li>
        <%end%>
        <li>
          <a href="/welcome/contact">Contacto</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav" style="left: -250px;">
      <%if user_signed_in? %>
        <li>
          <a href="/lists/" class="white">Listas</a>
        </li>
        <li>
          <%= link_to "Cerrar sesi贸n", destroy_user_session_path, method: :delete, class:"white" %>
        </li>
        <%else%>
        <li>
          <%= link_to "Iniciar sesi贸n", new_user_session_path, class:"waves-effect waves-light" %>
        </li>
        <li>
          <%= link_to "Crear cuenta", new_user_registration_path %>
        </li>
        <%end%>
        <li>
          <a href="/welcome/contact" class="white">Contacto</a>
        </li>
      </ul>
      <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">view_headline</i></a>
    </div>
</nav>
</header>